@use '../../UI/animations';
@use '../../UI/colors';
@use '../../UI/mixins';
*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

.webmap{
    background: colors.$primaryColor;
    
    @include mixins.defaultFlexColumn(center, center);
    width: 100%;

    padding: 5vw 0 5vw 0;

    background: colors.$primaryColor;
    .webmap-container{
        @include animations.defaultInitialize();
        @include mixins.defaultFlexColumn(center, flex-end);
        width: 70%;
        
        gap: 8rem;
        .about-map{
            @include mixins.defaultFlexColumn(center, flex-end);
            width: 75%;
            gap: 1.5rem;
            div{
                @include mixins.defaultFlexRow(center, center);
                gap: 0.5rem;
                h3{
                    font-size: 4.5rem;
                    font-family: Roboto;
                    font-weight: 700;
                    font-style: black;
                    letter-spacing: 0.175rem;
                    color: colors.$fontColor;
                }
                img{
                    width: 4rem;
                    height: 4rem;
                }
            }
            p{
                font-size: 2rem;
                font-family: Roboto;
                font-weight: 400;
                font-style: italic;
                line-height: 2.2rem;
                color: colors.$fontColor;
            }
        }

        hr{
            color: black;
            
        }
        iframe{
            width: 100%;
            height: 55vw;
            border-radius: 1rem;
        }
    }
}

.line{
    background-color: rgba(0, 0, 0, 0.187);
    width: 100%;
    height: 0.008rem;
}