@use '../../UI/animations';
@use '../../UI/colors';
@use '../../UI/mixins';

*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

.about{
    background: colors.$primaryColor;
    @include animations.defaultInitialize();
    @include mixins.defaultFlexColumn(center, center);
    width: 100%;
    //height: 100vh;
}

.about-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    border: 0.01px solid colors.$primaryColor;

    img{
        overflow-clip-margin: none;
        overflow: none;
        max-width:100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }

    .about-project{
        @include mixins.defaultFlexRow(center, center);
        background: colors.$primaryColor;
        padding: 5vw 0;
        .about-info{
            @include mixins.defaultFlexColumn(center, flex-start);
            background: colors.$primaryColor;
            width: 80%;
            gap: 3rem;
            h3{
                font-family: Red Hat Display;
                font-weight: 600;
                font-style: bold;
                font-size: 3rem;
                letter-spacing: 0.2rem;
                color: rgba(255, 255, 255, 0.700);
            }
    
            .about-p-container{
                @include mixins.defaultFlexColumn(center, flex-start);
                gap: 1.5rem;
                p{
                    font-family: Red Hat Display;
                    font-weight: 400;
                    font-style: italic;
                    font-size: 1.8rem;
                    letter-spacing: 0.15rem;
                    
                    color: rgba(255, 255, 255, 0.650);
                    span{
                        font-style: bold;
                        font-family: Red Hat Display;
                        font-weight: 600;
                        font-size: 1.8rem;
                        letter-spacing: 0.15rem;
                        color: white;
                    }
                }
            }
        }
    }
}