@use '../../UI/animations';

.ge-termofront-container{
    background: linear-gradient(90deg, #9abfc1 0%, #03989e 100%);
    height: 70rem;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com largura igual */
    grid-template-rows: 1fr 1fr; /* Duas linhas com altura igual */
    grid-gap: 1rem;
    grid-template-areas:
        "logo name"
        "image name";
    padding: 10rem;
    
}

.ge-termofront-logo{
    position: relative;
    top: 0%;
    left: 2.5%;
    z-index: 2;

    grid-area: logo;
}

.ge-termofront-img{
    position: relative;
    bottom: 19%;
    left: 0%;
    z-index: 0;

    grid-area: image;
    width: 95rem;
    img{
        height: 100%;
        width: 100%;
        z-index: 0; 
    }
}
.ge-termofront-title{
    position: relative;
    top: -15%;
    right: 0%;
    z-index: 1;
    
    grid-area: name;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap:12rem;
    div{
        display: flex;
        flex-flow: column nowrap;
    }
    h1{
        margin-block: 0;
        margin-inline: 0;
        font-family: Poppins;
        font-weight: 900;
        font-size: 17.5rem;
        color: #A6E1D8;
        text-align: center;
        margin: -2.5rem;
    }
    h1:nth-child(2){
        font-family: Poppins;
        font-weight: 900;
        font-size:8.75rem;
        letter-spacing: 0.3rem;
        color: #A6E1D8;
        text-align: center;
    }
    button{
        font-family: Poppins;
        font-weight: 900;
        font-size: 3.5rem;
        color: #fff;
        background-color: #A6E1D8;
        border-radius: 5rem;
        padding: 2rem 2.5rem;
        cursor: pointer;
    }button:hover{
        @include animations.defaultHover();
    }
}