//background: rgb(16,134,32);
//$primaryColor: radial-gradient(circle, rgba(16,134,32,0.5) 0%, rgba(16,134,32,0.2) 100%);
$primaryColor: #bdbcc2;
//background: rgb(34,66,34);
//$secondaryColor: radial-gradient(circle, rgba(34,66,34,0.9) 0%, rgba(34,66,34,0.9) 100%);
$secondaryColor: #292523;
$fontColor: #2d2926;