@use '../../UI/animations';
@use '../../UI/colors';
@use '../../UI/mixins';

.home-container{
    //background: colors.$primaryColor;
    @include animations.defaultInitialize();
    background-image: url('../../assets/unipampapic.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem no elemento */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    //filter: blur(2.5px);
    width: 100%;
    height: 80vh;
    @include mixins.defaultFlexRow(flex-end, center);
}

.home-search{
    width: 50rem;
    height: auto;
    background-color: transparent;
    border: 0.2rem solid #fff;
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    outline: none;
    font-family: Poppins;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
}


.homepage{
    width: 100%;
    background-color: #2A3D32;
}

@media (max-width: 1024px) {
    .home-container{
        justify-content: center;
    }    
}

@media (max-width: 500px){
    .home-container{
        height: auto;
    }
}