@use '../../UI/animations';
@use '../../UI/colors';
@use '../../UI/mixins';

*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

.logo{
    @include mixins.defaultFlexRow(center, center);
    gap: 2rem;
    img{
        width: 5rem;
        height: 5rem;
        overflow-clip-margin: none;
        overflow: none;
    }

    h2{
        font-size: 3.5rem;
        font-family: Montserrat;
        color: #E9E9E7;
    }
}
.logo:hover{
    @include animations.defaultHover();
}