@use '../../UI/animations';
@use '../../UI/colors';
@use '../../UI/mixins';

*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

.logo{
    @include mixins.defaultFlexRow(center, center);
    gap: 2rem;
    img{
        width: 24rem;
        height: 18rem;
        overflow-clip-margin: none;
        overflow: none;
    }
}
.logo:hover{
    @include animations.defaultHover();
}