@use '../../UI/animations';

.gelogo-container{
    button{
        font-family: Poppins;
        font-weight: 900;
        font-size: 3.5rem;
        color: #fff;
        background-color: #A6E1D8;
        border-radius: 5rem;
        padding: 2rem 2.5rem;
        cursor: pointer;
        z-index: 1;
    }button:hover{
        @include animations.defaultHover();
    }
}



.gelogo-item{
    width: 27.5rem;
    background-color: #fff;
    border-bottom: 0.5rem solid #000;
    p{
        font-family: Poppins;
        font-size: 3rem;
        padding-left: 1rem;
    }
    cursor: pointer;
}
.gelogo-item:hover{
    background-color: #A6E1D8;
}