@use '../../UI/animations';
@use '../../UI/colors';
@use '../../UI/mixins';

.publication-container{
    border-top: 1.5px solid #F68712;
    @include mixins.defaultFlexRow(center, center);
    height: 100vh;
    gap: 3rem;
}

.publication-left{
    @include mixins.defaultFlexColumn(space-around, center);
    
    height: 100%;
    width: 45%;
    flex-grow: 1;
    background-image: url('../../assets/unipampapic.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem no elemento */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    h3{
        color: #f0f0f0;
        font-family: Red Hat Display;
        font-weight: 500;
        font-size: 3rem;
        span{
            font-family: Red Hat Display;
            font-weight: 500;
            font-size: 3rem;
            color: #fff;
            font-style: bold;
        }
    }

    h1{
        font-family: Poppins;
        font-weight: 700;
        font-size: 7.7rem;
        color: #f0f0f0;
    }
}

.publication-right{
    @include mixins.defaultFlexColumn(center, center);
    height: 100%;
    width: 60%;
    flex-grow: 2;
    gap: 5rem;
}

.publication-card{
    @include mixins.defaultFlexRow(flex-start, center);
    max-width: 105rem;
    gap: 3rem;
    img{
        border: 1rem solid #D8670D;
        border-radius: 2rem;
        width: 24rem;   
        height: 30rem;
    }
    
    div{
        @include mixins.defaultFlexColumn(space-around, flex-start);
        gap: 0.5rem;
        h3{
            color: #000;
            font-family: Poppins;
            font-weight: 500;
            font-size: 2.5rem;
        }   
    
        button{
            color: #F68712;
            font-family: Inter;
            font-style: bold;
            background-color: transparent;
            border-radius: 3rem;
            border: 0.3rem solid #F68712;
            padding: 0.7rem;
            font-weight: 700;
            font-size: 1.5rem;
            align-self: flex-end;
        }
    }
    
}

.publication-card:nth-child(2){
    flex-direction: row-reverse;
    div{
        @include mixins.defaultFlexColumn(space-around, flex-end);
        h3{
            //ARRUMAR
        }
        button{
            align-self: flex-start;
        }
    }
}

.publication-url{
    p{
        font-size: 1.1rem;
        padding-left: 1rem;
    }
}

p{
    font-family: Red Hat Display;
    font-weight: 500;
    font-size: 1.3rem;
    color: #000;
}