
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;

}

h2 {
  margin-top: 40px;
text-align: center;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right:100px;
	text-align: right;

}

button {
  background-color: #4CAF50;
  border: none;
  color: navy;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

a {
  color: #0077FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.map-container {
	border: 7px solid darkgreen;
	border-radius: 10px;
	margin: 0 auto;
	max-width: 90%;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	background-color: #666;
	padding: 10px;
}

.navbar a {
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	margin-left: 20px;
}

.navbar a:hover{
	color: #ccc;
}


