@use '../../UI/animations';
@use '../../UI/colors';
@use '../../UI/mixins';
*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 9rem;
    background: colors.$secondaryColor;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    .container{
        @include mixins.defaultFlexRow(space-between, center);
        padding: 0 17.5rem;
        
        height: 100%;
        .links{
            @include mixins.defaultFlexRow(center, center);
            gap: 5rem;
            nav{
                ul{
                    
                    @include mixins.defaultFlexRow(center, center);
                    list-style-type: none;
                    gap: 5rem;
                }
                li{
                    display: block;
                    color: colors.$primaryColor;
                    font-size: 1.6rem;
                    font-family: Roboto;
                    font-weight: 500;
                    text-decoration: none;
                }
                li:hover{
                    @include animations.defaultHover();
                    color: #C3C2C8;
                }
            }

            button{
                width: 15rem;
                height: 5.5rem;
                border-radius: 1rem;
                font-family: Roboto;
                font-weight: 900;
                font-size: 1.4rem;
                font-style: bold;
                color: colors.$secondaryColor;
                background-color: colors.$primaryColor;
            }
            button:hover{
                @include animations.smallHover();

                background: #C3C2C8;
            }
        }


    }
}