@use '../../UI/animations';
@use '../../UI/colors';
@use '../../UI/mixins';
*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 9rem;
    background: colors.$primaryColor;
}

.header-container{
    @include mixins.defaultFlexRow(space-between, center);
    padding: 0 17.5rem;
    height: 100%;
}

.header-menu{
    @include mixins.defaultFlexRow(center, center);
    gap: 5rem;
    nav{
        ul{
            
            @include mixins.defaultFlexRow(center, center);
            list-style-type: none;
            gap: 5rem;
        }
        li{
            display: block;
            color: #FEFEFE;
            font-size: 1.6rem;
            font-family: Red Hat Display;
            font-weight: 500;
            text-decoration: none;
        }
        li:hover{
            @include animations.defaultHover();
        }
    }

    button{
        width: 15rem;
        height: 5.5rem;
        border-radius: 1rem;
        font-family: Red Hat Display;
        font-weight: 900;
        font-size: 1.6rem;
        font-style: bold;
        color: #fefefe;
        background-color: #c27729;
    }
    button:hover{
        @include animations.smallHover();
        background: #C3C2C8;
    }
}

.header-bar{
    width: 0.1rem; 
    background-color: #D6A067;
    height: 5rem;
}