.titlepage-container{
    h2{
        font-family: Poppins;
        font-weight: 700;
        font-style: bold;
        font-size: 2.5rem;
        
        border-left: 0.4rem solid #D8670D;
        padding-left: 1rem;
    }
}