@use '../../UI/animations';
@use '../../UI/colors';
@use '../../UI/mixins';

.footer-container{
    width: 100%;
    height: 10rem;
    background-color: #E9E9E7;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);

    div{
        padding: 0 3vw;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-copy{
        display: flex;
        flex-flow: column-reverse wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        p{
            font-family: Montserrat;
            font-size: 1.6rem;
            font-weight: 400;
            color: #405D4C;
            span{
                font-family: Montserrat;
                font-size: 1.4rem;
                font-weight: 400;
                color: #405D4C;
                border: .1rem solid #405D4C;
                padding: .2rem .5rem;
                border-radius: 10rem;
                margin-right: 0.5rem;
            }
        }
    }

    .footer-socialgallery{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
        .footer-social{ 
            width: 4rem;
            height: 3rem;
        }
    }
    img:hover{
        @include animations.defaultHover();
    }
}


@media (min-width: 0px) and (max-width: 767px) {
    .footer-container{
        height: auto;
        .footer-items{
            padding: 3vw;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            gap: 4rem;
        }

        .footer-socialgallery{
            .footer-social{ 
                width: 6rem;
                height: 4.5rem;
            }
        }
    }
}