@use '../../UI/animations';

.ge-nuclearfront-container{
    background-image: linear-gradient(#D66364, #E9AE93);
    height: 90rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.ge-nuclearfront-img{
    height: 80%; //mudar para 100%
    width: 95rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;/*
    img{
        height: 100%;
        width: 100%;
        z-index: -1; //mudar pra 0 pra colocar na tela de novo
        margin-top: -10rem;
        margin-bottom: -13.5rem;
    }*/
}
.ge-nuclearfront-title{
    margin-left: -20rem;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap:12rem;
    div{
        display: flex;
        flex-flow: column nowrap;
    }
    h1{
        margin-block: 0;
        margin-inline: 0;
        font-family: Poppins;
        font-weight: 900;
        font-size: 17.5rem;
        color: #FAC9B2;
        text-align: center;
        margin: -2.5rem;
    }
    h1:nth-child(2){
        font-family: Poppins;
        font-weight: 900;
        font-size:15.8rem;
        letter-spacing: 0.3rem;
        color: #FAC9B2;
        text-align: center;
    }
    button{
        font-family: Poppins;
        font-weight: 900;
        font-size: 3.5rem;
        color: #fff;
        background-color: #FAC9B2;
        border-radius: 5rem;
        padding: 2rem 2.5rem;
        cursor: pointer;
        z-index: 1;
    }button:hover{
        @include animations.defaultHover();
    }
}